/* GENERAL */
li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */
header {
  padding: 20px;
}

.logo-film a {
  font-size: 3rem;
  text-decoration: none;
  color: black;
}



/* MAIN */


/* HOME PAGE */
.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* HomePage -> movie card */
.card-section .card {
  width: 250px;
  margin: 15px 0;
}

.card-section .card img {
  width: 100%;
}

/* MoviePage */
#movie-details {
  border-bottom: 2px solid rgba(178, 178, 178, 0.556);
  padding-bottom: 20px;
}

.movie-cover {
  width: 300px;
}

.movie-cover img {
  width: 100%;
}








/* FOOTER */
footer {
  padding: 20px;
}